# SUPABASE_URL: Your Supabase project URL
SUPABASE_URL=https://pyuwpghagvflmuhptmpb.supabase.co
# SUPABASE_ANON_KEY: Your Supabase anonymous API key
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB5dXdwZ2hhZ3ZmbG11aHB0bXBiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3ODg3NDYsImV4cCI6MjA5NTM2NDc0Nn0.IvyDjXTezBRa1kPeCCitACbTf9tDW4aiAc0gtOjLfCM
